<app-header (loginHeaderEvent)="loginHeaderEvent($event)" [isAdmin]="isAdmin" (searchHeaderEvent)="searchHeaderEvent($event)" [isSearchboxVisible]="true" [searchText]="searchText"></app-header>
<div class="container col-md-12 col-sm-12 col-xs-9 col-lg-12 col-xl-10">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
      <div id = "container">
        <app-category-list [isAdmin]="isAdmin" class="full-width" [categories]="categories" [initialCategories]="categories"  [searchText]="searchText" (clearSearchEvent)="clearSearchEvent($event)"></app-category-list>
      </div>
    </div>
  </div>
</div>
