<div class="row rating-comment">
    <div class="row full-width mb-10">
        <div class="col-6">
            <span class="title">Name: </span><span>{{ratingComment.name}}</span>
        </div>
        <div class="col-6 align-right">
            <span class="title">Rating: </span><span>{{ratingComment.rating}}</span>
        </div>
    </div>
    <br>
    <div class="row full-width">
        <div class="col-12">
            <span class="title">Comment: </span>
            <div class="row full-width">
                <div class="col-12">
                   <span>{{ratingComment.comment}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
  
  