.filters-list {
  margin-top: 10px;
}

.filters {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 10px;
  margin: 10px;
  white-space: nowrap;
  width: 100%;
  border: 1px solid gray;
}

/*Overriding ng-multiselect-dropdown style*/
:host ::ng-deep .multiselect-dropdown .dropdown-btn .selected-item{
  border: 1px solid #ff7733 !important;
  background: #ff7733 !important;
}

:host ::ng-deep .multiselect-item-checkbox input[type=checkbox]:checked + div:before {
  background: #ff7733 !important;
}
:host ::ng-deep .multiselect-item-checkbox input[type=checkbox] + div:before {
  color: #ff7733 !important;
  border: 2px solid #ff7733 !important;
}

:host ::ng-deep .mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
  background-color: #ff7733 !important;
}

.filter-item {
  margin: 10px;
  white-space: nowrap;
}

.custom-control {
padding: 10px;
  margin: 10px;
}

.btn {
    border-radius: 5px;
    display: block;
    width: 80px;
    margin: 0px auto 0px auto;
}

.dropdown {
  font-weight: 400;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid gray;
}

.full-width {
  width: 100%;
}

.filtersBtnDiv {
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.filtersBtn {
  text-align: center;
}
