<div class="filters-list">
  <div class="filters">
    <h4 class="price-box">Price per night</h4>
    <div class="row">
        <div class="col-6">
          <mat-form-field appearance="legacy" style="width: 100%;">
            <mat-label>min</mat-label>
            <input matInput [(ngModel)]="minPrice">
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="legacy" style="width: 100%;">
            <mat-label>max</mat-label>
            <input matInput [(ngModel)]="maxPrice">      
          </mat-form-field>
        </div>
    </div>
  </div>
  <div class="filters">
    <h4 class="price-box">Customer rating</h4>
    <div class="row">
        <div class="col-6">
          <mat-form-field appearance="legacy" style="width: 100%;">
            <mat-label>min</mat-label>
            <input matInput [(ngModel)]="minRating">
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="legacy" style="width: 100%;">
            <mat-label>max</mat-label>
            <input matInput [(ngModel)]="maxRating">
          </mat-form-field>
        </div>
    </div>
  </div>
  <div class="filters">
    <h4 class="price-box">Stars</h4>
    <div class="col-md-8 col-sm-12 col-xs-4 col-lg-12 col-xl-8">
      <ngb-rating [(rate)]="starsFilter" [max]=5 [readonly]=false>
        <ng-template let-fill="fill" let-index="index">
            <span class="star" [class.full]="fill === 100">
              <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
            </span>
        </ng-template>
      </ngb-rating>
    </div>
  </div>
  <div class="filters dropdown">
    <h4 class="price-box">Activities</h4>
    <ng-multiselect-dropdown
      [placeholder]="'Select activities'"
      [data]="activities"
      [(ngModel)]="currentlySelectedActivities"
      [settings]="dropdownSettings"
      (onSelect)="selectActivities()">
    </ng-multiselect-dropdown>
    <br/>
  </div>
  <div class="filters dropdown">
    <h4 class="price-box">Locations</h4>
    <ng-multiselect-dropdown
      [placeholder]="'Select locations'"
      [data]="locations"
      [(ngModel)]="currentlySelectedLocations"
      [settings]="dropdownSettings">
    </ng-multiselect-dropdown>
    <br/>
  </div>
  <div class="filters">
    <h4 class="price-box">Other filters</h4>
    <div class="filter-item">
      <mat-checkbox [(ngModel)]="otherFilters.parkingFilter">Parking</mat-checkbox>
    </div>
    <div class="filter-item">
      <mat-checkbox [(ngModel)]="otherFilters.restaurantFilter">Restaurant</mat-checkbox>
    </div>
    <div class="filter-item">
      <mat-checkbox [(ngModel)]="otherFilters.petsAllowedFilter">Pets allowed</mat-checkbox>
    </div>
    <div class="filter-item">
      <mat-checkbox [(ngModel)]="otherFilters.nonsmokingRoomsFilter">Non-smoking rooms</mat-checkbox>
    </div>
    <div class="filter-item">
      <mat-checkbox [(ngModel)]="otherFilters.swimmingPoolFilter">Swimming pool</mat-checkbox>
    </div>
    <div class="filter-item">
      <mat-checkbox [(ngModel)]="otherFilters.beachfrontFilter">Beachfront</mat-checkbox>
    </div>
    <div class="filter-item">
      <mat-checkbox [(ngModel)]="otherFilters.airConditioningFilter">Air conditioning</mat-checkbox>
    </div>
    <div class="filter-item">
      <mat-checkbox [(ngModel)]="otherFilters.freeWifiFilter">Free WiFi</mat-checkbox>
    </div>
    <div class="filter-item">
      <mat-checkbox [(ngModel)]="otherFilters.saunaFilter">Sauna</mat-checkbox>
    </div>
    <div class="filter-item">
      <mat-checkbox [(ngModel)]="otherFilters.fitnessFilter">Fitness</mat-checkbox>
    </div>
    <div class="row" style="display: flex; align-items: center; justify-content: center;" (click)="applyAllFilters()">
      <button mat-raised-button color="accent" style="text-align: center;">Apply all filters</button>
    </div>
  </div>
</div>
