.hotel-item {
    margin-top: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hotel-image {
    max-width: 100%;
    vertical-align: middle;
}

.no-padding {
    padding: 0;
}
.row{
    padding-top: 1%;
}
.price-text {
    float: right;
}

.name-text {
    margin-right: 1%;
    font-size: 0.8rem;
}

.star {
    font-size: 0.8rem;
}

.badge {
    font-size: 0.8rem;
    width:100%;
    height: 2rem;
}

.badge .badge-pill {
  font-size: 0.8rem;
}

.badge-warning {
    color: white;
}

.float-left {
    float: left;
}

.text-icon {
    line-height: inherit;
    margin-right: 2%;
}

.badge.badge-pill{
    font-size: 1.4vw;
}

.fa.fa-location-arrow {
    width: 3vw;
    height: 3vh;
}

.justify-content {
    text-align: justify;
}

.rating, .city, .justify-content, .price {
    font-size: 1rem;
}

@media (min-width: 576px) and ( max-width: 768px) {
.justify-content{ font-size: 1rem; }
.city , .rating, .price{ font-size: 1.2rem; }
.name-text, .star{font-size: 1.2rem;}
.badge.badge-pill{
    height: 6vh;
    font-size: 3.5vw;
    }
.fa.fa-location-arrow {
    width: 3vw;
    height: 5vh;
    }
}

@media (min-width: 200px)  and ( max-width: 575px){
.justify-content{ font-size: 0.85rem; }
.city , .rating, .price{ font-size: 0.95rem; }
.name-text, .star{font-size: 1.2rem;}
.badge.badge-pill{
    font-size: 2vw;
    }
.fa.fa-location-arrow {
    width: 4vw;
    height: 2vh;
    }
}
@media (min-width: 768px)  and ( max-width: 991px) {
.justify-content, .city { font-size: 1.05rem; }
.rating, .price { font-size: 1rem;}
.name-text, .star{font-size: 1.4rem;}
.badge.badge-pill{
    font-size: 1.7vw;
    }
}

@media (min-width: 992px)  and ( max-width: 1999px) {
.justify-content, .rating, .price, .city { font-size: 1.2rem; }
.name-text, .star{font-size: 2rem;}
.badge.badge-pill{
    font-size: 1.6vw;
    }
    .fa.fa-location-arrow {
        width: 2vw;
        height: 3vh;
        }
}
@media (min-width: 1200px) {
    .justify-content{ font-size: 1rem; }
    .price, .city { font-size: 1rem; }
    .rating { font-size: 1.2rem }
    .name-text, .star {font-size: 1.2rem;}
    .badge.badge-pill{
        font-size: 1vw;
        }
        .fa.fa-location-arrow {
            width: 1.7vw;
            height: 4vh;
            }
}
