<div class = "filters" style = "border: 1px solid gray">
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Parking
  </label>
  </div>
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" >
  <label class="form-check-label" for="defaultCheck2">
    Restaurant
  </label>
  </div>
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck3" >
  <label class="form-check-label" for="defaultCheck2">
    Pets allowed
  </label>
  </div>
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck4" >
  <label class="form-check-label" for="defaultCheck2">
    Non-smoking rooms
  </label>
  </div>
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck5" >
  <label class="form-check-label" for="defaultCheck2">
    Swimming pool
  </label>
  </div>
</div>
