<div class="filters" style="border: 1px solid gray">
  <h5 class="price-box">Filter by:</h5>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
    <label class="form-check-label" for="defaultCheck1">
      Parking
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
    <label class="form-check-label" for="defaultCheck2">
      Restaurant
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
    <label class="form-check-label" for="defaultCheck2">
      Pets allowed
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
    <label class="form-check-label" for="defaultCheck2">
      Non-smoking rooms
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
    <label class="form-check-label" for="defaultCheck2">
      Swimming pool
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
    <label class="form-check-label" for="defaultCheck2">
      Beachfront
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
    <label class="form-check-label" for="defaultCheck2">
      Air conditioning
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck8">
    <label class="form-check-label" for="defaultCheck2">
      Free WiFi
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck9">
    <label class="form-check-label" for="defaultCheck2">
      Sauna
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck10">
    <label class="form-check-label" for="defaultCheck2">
      Fitness
    </label>
  </div>
  <button type="button" class="btn btn-dark">Apply</button>

</div>
<div class="filters" style="border: 1px solid gray">
  <div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="distance" name="defaultExampleRadios">
    <label class="custom-control-label" for="distance">Distance from center</label>
  </div>
  <div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="price" name="defaultExampleRadios">
    <label class="custom-control-label" for="price">Price</label>
  </div>
  <div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="rating" name="defaultExampleRadios">
    <label class="custom-control-label" for="rating">Rating</label>
  </div>
  <button type="button" class="btn btn-dark">Sort</button>
</div>
<div class="filters box-around">
  <h5 class="price-box">Price per night</h5>
  <mv-slider [(value)]="value" [min]="1" [max]="1000" [enabled]="enabled" (slideStop)="sortHotelsByPrice($event)"></mv-slider>
  {{value}}
</div>
<div class="activities-dropdown">
  <ng-multiselect-dropdown
    [placeholder]="'Activities'"
    [data]="activities"
    [(ngModel)]="currentlySelected"
    [settings]="dropdownSettings"
    (onSelect)="selectActivities()">
  </ng-multiselect-dropdown>
  <button type="button" class="btn btn-dark margin-button" (click)="sortHotelsByActivity()">Apply</button>
</div>



