<app-header xmlns="http://www.w3.org/1999/html"></app-header>
<div *ngIf="hotel_">
  <section  fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
      <mat-card-title>{{'EDIT HOTEL' | translate}}</mat-card-title>
      <br>
      <form  [formGroup]="hotelForm" autocomplete="off" novalidate fxLayout="column wrap"
             fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-card-content class="center-align">
          <mat-form-field>
            <input [ngModel]="hotel_.name"  matInput type="text" placeholder="{{'NAME' | translate}}" formControlName="name" id="name">
          </mat-form-field>
          <br>
          <mat-form-field>
            <textarea [ngModel]="hotel_.description" matInput type="text" placeholder="{{'DSCR' | translate}}" formControlName="descr">
            </textarea>
          </mat-form-field>
          <br>
          <br>
          <div class="container" style="width:350px">
            <ng-multiselect-dropdown
              [placeholder]="'SELECT CATEGORY' | translate"
              [data]="categories"
              [(ngModel)]="currentlySelectedCategories"
              [settings]="get_dropdownSettings"
              (onSelect)="selectCategories()" [ngModelOptions]="{standalone: true}"
            >
            </ng-multiselect-dropdown>
          </div>
          <mat-form-field>
            <input matInput [(ngModel)]="hotel_.stars" type="number" placeholder="{{'STARS' | translate}}" formControlName="stars">
            <mat-hint align="end">1-5</mat-hint>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input [(ngModel)]="hotel_.price" matInput type="number" placeholder="{{'PRICE' | translate}}" formControlName="price">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input [(ngModel)]="hotel_.rate" matInput type="number" placeholder="{{'RATING' | translate}}" formControlName="rating">
            <mat-hint align="end">1-10</mat-hint>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput [(ngModel)]="hotel_.city" type="text" placeholder="{{'CITY' | translate}}" formControlName="city">
          </mat-form-field>
          <br>
          <br>
          <div class="container" style="width:350px">
            <ng-multiselect-dropdown
              [placeholder]="'SELECT ACTIVITIES' | translate"
              [data]="activities"
              [(ngModel)]="currentlySelectedActivities"
              [settings]="dropdownSettings"
              (onSelect)="selectActivities()" [ngModelOptions]="{standalone: true}">
            </ng-multiselect-dropdown>
            <br/>
            <div class="filter-item">
              <mat-checkbox [checked]= "true" id="parking" [(ngModel)]="otherFilters.parkingFilter"
                            [ngModelOptions]="{standalone: true}">
                Parking
              </mat-checkbox>
            </div>
            <div class="filter-item">
              <mat-checkbox id="restaurant" [(ngModel)]="otherFilters.restaurantFilter"
                            [ngModelOptions]="{standalone: true}">{{'RESTAURANT' | translate }}
              </mat-checkbox>
            </div>
            <div class="filter-item">
              <mat-checkbox id="pets_allowed" [(ngModel)]="otherFilters.petsAllowedFilter"
                            [ngModelOptions]="{standalone: true}">{{'PETS' | translate }}</mat-checkbox>
            </div>
            <div class="filter-item">
              <mat-checkbox id="non_smoking_rooms" [(ngModel)]="otherFilters.nonsmokingRoomsFilter"
                            [ngModelOptions]="{standalone: true}">{{'SMOKE' | translate }}
              </mat-checkbox>
            </div>
            <div class="filter-item">
              <mat-checkbox id="swimming_pool" [(ngModel)]="otherFilters.swimmingPoolFilter"
                            [ngModelOptions]="{standalone: true}">{{'POOL' | translate }}</mat-checkbox>
            </div>
            <div class="filter-item">
              <mat-checkbox id="beachfront" [(ngModel)]="otherFilters.beachfrontFilter"
                            [ngModelOptions]="{standalone: true}">{{'BEACH' | translate }}</mat-checkbox>
            </div>
            <div class="filter-item">
              <mat-checkbox id="air_conditioning" [(ngModel)]="otherFilters.airConditioningFilter"
                            [ngModelOptions]="{standalone: true}">{{'AC' | translate }}
              </mat-checkbox>
            </div>
            <div class="filter-item">
              <mat-checkbox id="free_wifi" [(ngModel)]="otherFilters.freeWifiFilter"
                            [ngModelOptions]="{standalone: true}">{{'WIFI' | translate }}</mat-checkbox>
            </div>
            <div class="filter-item">
              <mat-checkbox id="sauna" [(ngModel)]="otherFilters.saunaFilter" [ngModelOptions]="{standalone: true}">
                Sauna
              </mat-checkbox>
            </div>
            <div class="filter-item">
              <mat-checkbox id="fitness" [(ngModel)]="otherFilters.fitnessFilter"
                            [ngModelOptions]="{standalone: true}">
                {{'FITNESS' | translate }}
              </mat-checkbox>
            </div>
          </div>
          <br>

        </mat-card-content>
        <mat-card-actions>
          <mat-card-actions align="center">
            <button [disabled]="!checkUserInput()" mat-raised-button color="primary" (click)="editHotel()">
              {{'CONFIRM' | translate}}
            </button>
            <button type="button" mat-raised-button color="warn" (click)="onCancel()">
              {{'CANCEL' | translate}}
            </button>
          </mat-card-actions>
        </mat-card-actions>
      </form>
    </mat-card>
  </section>

</div>
