<div class="row">
  <div class="col-lg-3 col-md-4">
      <buttons-checkbox></buttons-checkbox>
  </div>
  <div class="col-lg-9 col-md-8">
    <div class="row category-filters">
      <div class="col-md-2 col-xs-4 category-card" *ngFor="let category of categories; let i=index">
        <app-category-card
          [title]="category.name">
        </app-category-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" *ngFor="let category of categories; let i=index">
        <app-category-list-item
          [category]="category">
        </app-category-list-item>
      </div>
    </div>
  </div>
</div>

