.category-filters {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.text-center {
  text-align: center;
}

.searchChip{
  padding-top:10px; 
  padding-bottom: 10px;
}

.full-width{
  width: 100%;
}

.mat-card {
  cursor: pointer;
}

.mat-card.mat-card.mat-focus-indicator._mat-animation-noopable.selected {
  background-color: #ff7733;
  color: white;
  box-shadow: 0px 5px 15px #4c4c4c;
}