mat-form-field {
  width: 400px;
  text-align: center;
}

mat-card-title {
  text-align: center;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mat-form-fieldd {
  width: 400px;
  text-align: center;
  display: inline-block;
  position: relative;
  text-align: left;
}

.mat-form-fieldd {
  font-size: inherit;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}

.filter-add-hotel {
  padding-top: 10px !important;
}

.filter-item {
  margin: 10px;
  white-space: nowrap;
  display: block;
  flex: 1 0 10%;
}


::ng-deep .mat-checkbox .mat-checkbox-frame {
  border: 1px solid #ff7733 !important;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: #ff7733 !important;
}
